<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="~{fragments/head :: head}"/>
    <body>
        <div th:insert="~{fragments/navigation-menu :: navigation}"></div>
        <div class="container">
            <div class="row pt-3">
                <div class="card" style="width: 100%">
                    <div class="card-header">
                        Редатирование поста:
                    </div>
                    <div class="card-body">
                        <form th:action="@{/updatepost}" th:object="${post}" method="POST">
                            <input type="hidden" name="id" th:field="*{id}"/>
                            <div class="form-group">
                                <label for="name">Имя</label>
                                <input type="text" class="form-control" name="name" id="name" th:field="*{name}">
                                <br>
                                <label for="name">Описание</label>
                                <input type="text" class="form-control" name="description" id="description" th:field="*{description}">
                            </div>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>